* {
  font-family: "Markazi Text", "Karla", serif;
}

label,
input,
select,
textarea,
p {
  font-family: "Karla";
}

input,
select,
option,
textarea {
  background-color: #eeeeee;
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 0.2rem;
  resize: none;
}

input,
select {
  width: 10rem;
}

body {
  margin: 0; /* removes white border around website*/
  padding: 0;
  margin-top: -22px;
}

menu {
  list-style: none;
  display: grid;
}

button {
  background-color: white;
  border: none;
}

.burger-icon {
  margin-top: 1.5rem;
}

a:visited,
Link:visited,
a:link,
Link:link {
  text-decoration: none;
  color: black;
}

.action-button {
  background-color: #f4ce14;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 16px;
  font-family: "Karla";
  font-size: 2rem;
}

.action-button:hover {
  background-color: #495e57;
  color: #eeeeee;
  border-style: solid;
  border-width: 1px;
  border-color: #edefee;
  transition: 0.2s;
}

.subsection {
  margin-top: -2rem;
}

/* Navigation */
  .navbar {
		display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  .nav_logo{
    max-height: 4vh;
    margin-top: 0.7rem;
    margin-left: 1.25rem;
  }
  .hover-effect{
	  text-align: center;
    margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
	}
  .hover-effect:hover{
    color: #495e57;
    transition: 0.25s;
  }

/* Hero */
.hero {
  min-height: 13rem;
  background-color: #495e57;
  display: grid;
  color: #ffffff;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin-top: -1.4rem;
}

.hero-img{
position: absolute;
width: 392px;
height: 545px;
left: 760px;
top: 175px;
border-radius: 16px;

  }

/* Specials*/
.specials {
  padding: 1rem;
}
.header-reserve{
  width: 100vh;
  height: 20rem;
  object-fit: cover;
}
/* Testimonials */
.testimonials {
  background-color: #495e57;
  color: #ffffff;
  padding: 1rem;
}
/* About */
.aboutthem{
  padding: 1rem;
}

.header-reserve{
position: absolute;
width: 254px;
height: 324px;
left: 896px;
top: 2062px;
border-radius: 16px;
}

/* Footer */
footer {
  display: grid;
  min-height: 10rem;
  background-color: #495e57;
  color: #ffffff;
  padding-bottom: 1rem;
  margin-top: 1.4rem;
  grid-template-columns: repeat(4, 1fr);
}

.foot_logo{
  max-height: 12vh;
  margin-top: 4rem;
  margin-left: 1.25rem;
background: #495E57;
border-radius: 16px;
}

.footTitle{

}
.footLink {
  color: #ffffff;
}
.footLink:hover{
  color: #f4ce14;
  transition: 0.25s;
}