* {
  border: 0;
  margin: 0;
  font-family: "Markazi Text", "Karla", serif;
}

body {
  display: grid;
  border-radius: 16px;
}

.navbar{
display: flex;
flex-direction: row;
justify-content: center;
align-items: baseline;
padding: 10px 0px;
gap: 10px;

position: absolute;
width: 642px;
height: 41px;
left: 510px;
top: 41px;
}

.navbar > img{
position: absolute;
width: 200px;
height: 75px;
left: 290px;
top: 28px;

}
.navbar > a{
  text-align: start;
  table-layout: auto;
}
.hero {
  min-height: 13rem;
  background-color: #495e57;
  display: grid;
  color: #ffffff;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin-top: -1.4rem;
}
.specials {
  padding: 1rem;
}

.testimonials {
  background-color: #495e57;
  color: #ffffff;
  padding: 1rem;
}

.aboutthem{
  padding: 1rem;
}

footer {
  min-height: 10rem;
  background-color: #495e57;
  color: #ffffff;
  padding-bottom: 1rem;
  margin-top: -1.4rem;
  grid-template-columns: repeat(4, 1fr);
}

.foot_logo{
position: absolute;
width: 1440px;
height: 352px;
left: 1px;
top: 2548px;
background: #495E57;

}
.foot_logo > img {
position: absolute;
width: 163px;
height: 244px;
left: 290px;
top: 2610px;
border-radius: 16px;

}