* {
  border: 0;
  margin: 0;
  font-family: "Markazi Text", "Karla", serif;
}

body {
  display: grid;
  border-radius: 16px;
}

.navbar{
  display: grid;
  align-items: center;
  max-height: 4rem ;
}
.navbar > img{
 max-height: 4rem;
}
.navbar > a{
  text-align: start;
  table-layout: auto;
}
.hero {
  min-height: 13rem;
  background-color: #495e57;
  display: grid;
  color: #ffffff;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin-top: -1.4rem;
}
.specials {
  padding: 1rem;
}

.testimonials {
  background-color: #495e57;
  color: #ffffff;
  padding: 1rem;
}

.aboutthem{
  padding: 1rem;
}

footer {
  min-height: 10rem;
  background-color: #495e57;
  color: #ffffff;
  padding-bottom: 1rem;
  margin-top: -1.4rem;
  grid-template-columns: repeat(4, 1fr);
}

.footlogo{
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  max-height: 8rem;

}